<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <appSettings>
    <add key="LogPath" value="D:\\Logs\\IPGMerch\\IPGAdminWeb.log" />
    <add key="RepLogPath" value="D:\\Logs\\IPGMerch\\IPGAdminRep.log" />
    <add key="VoidLogPath" value="D:\\Logs\\IPGMerch\\IPGAdminVoid.log" />
    <add key="SaleQLogPath" value="D:\\Logs\\IPGMerch\\IPGAdminSaleQ.log" />
    <add key="RefundLogPath" value="D:\\Logs\\IPGMerch\\IPGAdminRefund.log" />
    <add key="DebugMode" value="1806"/>
    <add key="TxnTimeout" value="60000"/>
    <add key="LogLevel" value="0" />
    <add key="SqlConnStr" value="Server=10.51.29.205;Uid=ppusr01;Pwd=ppusr01;" />
    <add key="SocketIP" value="10.51.29.205" />
    <add key="SocketPort" value="6000" />
    <add key="AppMode" value="0" />
    <add key="EncMode" value="0" />
    <add key="RepSqlTimeout" value="600" />
    <add key="SqlTimeout" value="120" />
    <add key="LockInterval" value="10" />
    <add key="SessionTimeout" value="60" />
    <add key="ReportRow" value="1000" />
    <add key="CMS-DB" value="[CA-CM].[dbo]." />
    <add key="CM-DB" value="[CA-CM].[dbo]." />
    <add key="Report-DB" value="[CA-PG].[dbo]." />
    <add key="MM-DB" value="[CA-PG].[dbo]." />
    <add key="PG-DB" value="[CA-PG].[dbo]." />
    <add key="SM-DB" value="[CA-SM].[dbo]." />

    <add key="SearchTermPath" value="D:\ImportFile\IPGMerch\Tempel\" />

    <add key="Agent_AcctNo" value="HRTAdmin" />
    <add key="CheckMerchUrl" value="http://10.51.29.205:8001/CheckUrl.ashx" /> 

    <add  key="AddMerchUrl" value="http://10.51.29.205:8001/handler1.ashx" />

    <add  key="HEB_YHFreferer" value="162.210.249.206" />
    
    
    <!--<add  key="AddMerchUrl" value="http://localhost:7197/Handler1.ashx" />-->

    <add key="RedisHosts" value="127.0.0.1:6379"/>    <!--多个服务器间用|分割-->
  </appSettings>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />

    <sessionState mode="StateServer" stateConnectionString="tcpip=127.0.0.1:42424" sqlConnectionString="data source=127.0.0.1;Trusted_Connection=yes" cookieless="false" timeout="20" />
    <siteMap enabled="true">
      <providers>
        <add name="SqlSiteMapProvider" type="IPGMerch.SqlSiteMapProvider, IPGMerch" providerName="System.Data.SqlClient" connectionString="Server=10.51.29.206;Database=CA-PG;Uid=ppusr01;Pwd=ppusr01;" storedProcedure="mm_GetSiteMap" cacheTime="0" securityTrimmingEnabled="true" />
 <add name="SqlSiteMapProvider1" type="IPGMerch.SqlSiteMapProvider, IPGMerch" providerName="System.Data.SqlClient" connectionString="Server=10.51.29.206;Database=CA-PG;Uid=ppusr01;Pwd=ppusr01;" storedProcedure="mm_GetSiteMapZ" cacheTime="0" securityTrimmingEnabled="true" />
        <add name="SqlSiteMapProvider2" type="IPGMerch.SqlSiteMapProvider, IPGMerch" providerName="System.Data.SqlClient" connectionString="Server=10.51.29.206;Database=CA-PG;Uid=ppusr01;Pwd=ppusr01;" storedProcedure="mm_GetSiteMap2" cacheTime="0" securityTrimmingEnabled="true" />
</providers>
    </siteMap>

    <roleManager enabled="false">
      <providers>
        <clear />
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/" />
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/" />
      </providers>
    </roleManager>

  </system.web>
    <system.webServer>
        <httpProtocol>
            <customHeaders>
                <clear />
                <add name="X-UA-Compatible" value="IE=edge,chrome=1" />
            </customHeaders>
        </httpProtocol>
        <staticContent>
            <mimeMap fileExtension=".axd" mimeType="application/octet-stream" />
        </staticContent>
    </system.webServer>
</configuration>
